*{
    font-family: Arial;
}

body{
text-align: center;
}

.contenedor{
    margin: auto;
    background-color: lemonchiffon;
    width: 1200px;
    height: 700px;
    border: 5px solid black;
}

h1{
    padding-top: 20px;
}
.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.nombre input{
    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}
.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.lugarNacimiento{
    font-weight: bold;
    text-align:right;
    margin-top: -120px;
    padding-right: 270px;
    padding-top: 30px;
    
}

.lugarNacimiento select{
    width: 155px;
    margin-left: 20px;
    height: 25px;
}


.poblacion{
    font-weight: bold;
    text-align: left;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
}

.poblacion input{
    height: 20px;
}


    .numHijos{
        text-align: left;
    
        margin-top: 20px;
        padding-left: 600px;
    }
    .numHijos li{
        display: inline-block;
        width: 150px;
        height: 40px;
        background-color: rgba(1, 1, 1, .10);
        list-style: none;
    }
   
    
.sexo{
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
}
.sexo li{
    width: 265px;
    height: 60px;
    background-color: rgba(1, 1, 1, .10);
    list-style: none;
}
.sexo input{
    margin-top: 20px;
    margin-left: 20px;
}

.correo{
    margin-top: 75px;
    width: 210px;
    float: left;
    margin-left: 30px;
    height: 25px;
    color: black;
}

.egresoPrimaria{
 float: left;
 text-align: left;
 padding-top: 80px;
 padding-right: 500px;
 padding-left: 20px;
 font-weight: bold;
}

.egresoPrimaria input{
    margin-left: 40px;
}

.habitos{
    margin-right: 40px;
    text-align:right;
    float: right;
    margin-top: -150px;
    font-weight: bold;
}
.habitos textarea{
    width: 450px;
}

.ingresos{
    text-align: center;
    float: left;
    margin-top: 60px;
    padding-left: 20px;
    font-weight: bold;
}
.ingresos input{
    margin-top: 20px;
    width: 400px;
}
#datosList{
    font-size: 8px;
    word-spacing: 2.2em;
}

.horario{
    font-weight: bold;
    position: relative;
    top: -30px;
    left: -120px;
 
    float: right;
    
}

.horario input{
    margin-top: 10px;
    margin-right: 20px;
}

#botones{
    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 50px;
}

.dineros{
    font-size: 15px;
    position: relative;
    top: 40px;
    right: 500px;
}

.habitosletra{
    position: relative;
    top: -180px;
    right: -200px;
}