*{
font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    margin:0px;
    padding:0px;

}

h2{
    color: white;
}
div#general{
    margin: auto;
    margin-top: 50px;
    width: 900px;
    height: 1000px;
    background-color: #f1ecea;
}

h2#titulodeseccion{
    text-align: center;
    width: 100%;
    background-color: #362f2f;


}


div#encabezado{
    width: 100%;
    height: 15%;
   background-color: #3a251c;
}


div#menu{
      width: 100%;
      height: 5%;
      background-color: #b46424;
    
}
div#seccion{
    width: 64%;
    height: 75%;
    background-color: #362f2f;
}

div#linea{
    margin-left: 5%;
    width: 90%;
    height: 85%;
    margin-top: 5%;
    margin-bottom: 50%;
    border: 2px solid #ffffff;
    border-style: dotted;
  
}

div#fuera {
    position: relative;
    top: -75%;
    float: right;
    margin-top: 100p;
    width: 33%;
    height: 75%;
    background-color: #b58c7c
    
 }


div#piedepagina{
    width: 100%;
    height: 10%;
    background-color: #3a251c;
    
}
h2#cultiva{
    position: relative;
    top: 30;
    font-size: 140%;
;
}

ul#lista2{
    position: relative;
    top: 60;
    left: 100;
    color: #ffffff;
font-size: 20;
    

}
h1#tituloadentro
{
    font-size: 21;
    color: whitesmoke
    
}

h1{
    color: white;
    padding: 15;
}

h4{
    color: #ffffff;
    padding: 15;
    font-size: small;
}

h2#titulodeseccion{
    color: #3a251c;
}

h3#mini{
    color: white;
    font-size: 11;
    position: relative;
    left: 15;
    bottom: 2;
}

h2#sec{
  font-size: 12;
  position: relative;
  top: 15;
  left: 15;
}

p{
    color: white;
    position: relative;
    left: 15;
    top: 50;
    margin-right: 20;
    margin-bottom: 40;
}

img#cafe1{
    
width: 160px;
height: 120px;
position: relative;
left: 10;
top: 50;

}

img#cafe2{
    width: 160px;
height: 120px;
position: relative;
left: 15;
top: 50;
}

img#cafe3{
    width: 160px;
    height: 120px;
    position: relative;
    left: 20;
    top: 50;
}

ul.nav {
    font-size: 20;
    color: white;
    padding-left: 0px;
    padding-top: 14;
    background-color: #b46424;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 14px 79px;
  }
  ul.nav > li:hover {
    background-color: #f17c1b;
  }
  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }

  h1#titulo1{
    font-size: 93;
    color: white;
    position: relative;
    left: 0%;
    top: 10;
 
  }
