

<style>
img{
  display: block;
  margin: auto;
}
  
</style>
<header>
   	
    <h1><center>Venta de automoviles usados <h1></center>
    <h2><center>Av camaron Sabalo 123 Mazatlan Sinaloa</h2></center>
    <hr width=1850>
    <h1><center>Catalogo de automoviles</h1></center>
    <hr width=1850>
    <h1><center>TOYOTA</center></h1>
    <body>
    <img src="/imagen/auto01.jpeg" height="400"  >
    <h2><center>Toyota Corolla SX 2023</center> </h2>
    <img src="/imagen/auto02.jpeg" height="300"  >
    <h2><center>Toyota Yaris CX 2023</center> </h2>
    <img src="/imagen/auto03.jpeg" height="300"  >
    <h2><center>Toyota Corolla 2022</center> </h2>
    <h1><center>NISSAN</center></h1>
    <img src="/imagen/auto04.jpeg" height="300"  >
    <h2><center>Nissan Kicks e-POWER 2023</center> </h2>
    <img src="/imagen/auto05.jpeg" height="300"  >
    <h2><center>Nissan X-TRAIL</center> </h2>
    <img src="/imagen/auto06.jpeg" height="250"  >
    <h2><center>Nissan Sentra 2021</center> </h2>
    </body>

    

   
  </header>