<link rel="stylesheet" href="/css/Practica 3 Villa Vicencio.css">    


<h1 class="titulo">Cafe</h1>

<body>
    <div id="general">
        <div id="encabezado">
            <h1 id="titulo1">
                CAFE
                MEXICANO
            </h1>
        </div>
        <div id="menu">
            <ul class="nav">

            <li style="display:inline;">Cafe</li>
            <li style="display:inline;">Tequila</li>
            <li style="display:inline;">Alimentos</li>
            <li style="display:inline;">Flores</li>
            </ul>
      
        </div>
        <div id="seccion">
            <h2 id="titulodeseccion">. 
            </h2>
            <div id="linea">
                <h1 id="tituloadentro">México, onceavo productor mundial de café </h1>
                <h3 id="mini">La producción de sus cafetos representa 2.4% del total mundial</h3>
                <h2 id="sec">Secretaría de Agricultura y Desarrollo Rural | 02 de marzo de 2018</h2>
                <p>El café es un cultivo estratégico en México; su producción emplea 
                    a más de 500 mil productores de 15 entidades federativas y 480 
                    municipios.<p>
               

                
                    Actualmente se consumen 1.4 kg per cápita al año. 
                    México produce cafés de excelente calidad, ya que su topografía, 
                    altura, climas y suelos le permiten cultivar variedades clasificadas 
                    dentro de las mejores del mundo, la variedad genérica que se 
                    produce en nuestro país es la arábica y su producción se realiza 
                    por lo regular en las zonas tropicales. </p>
               
               <p>En México hay 15 estados productores de café; al sur del país, 
                    Chiapas es el principal estado productor, aporta 41.0% del 
                    volumen nacional, seguido por Veracruz (24.0%) y Puebla (15.3%). 
                    
                </p>
                <img id="cafe1" src="/imagen/cafe1.jpeg" alt="">
                <img id="cafe2" src="/imagen/cafe2.jpeg" alt="">
                <img id="cafe3" src="/imagen/cafe3.jpeg" alt="">
                
               
                
            </div>
                    
        </div>
        <div id="fuera">
            <picture>
                <img src="/imagen/cultivoCafe.jpeg" alt="">
            </picture>
            <center><h2 id="cultiva">En México el café se 
                cultiva </h2></center>
                <ul id="lista2">
                <li>Chiapas</li>
                <li>Veracruz</li>
                <li>Puebla</li>
                <li>Oaxaca</li>
                <li>Guerrero</li>
                <li>Hidalgo</li>
                <li>San Luis Potosi</li>
                <li>Nayarit</li>
                <li>Colima</li>
                <li>Jalisco</li>
                <li>Queretaro</li>
                <li>Tabasco</li>
            </ul>
        </div>
        <div id="piedepagina">
            <h1> Juan Pablo Villa Vicencio@ Productos Mexicanos
            </h1>
        </div>
          
        
</div>
</body>